.star-rating{
  cursor: pointer;
}
  .star {
    font-size: 24px;
    color: lightgray;
  }
  .star:hover {
    cursor: pointer;
  }

  .star.filled {
    color: gold;
  }
  
  .custom-button {
    width: 30%;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease;
  }
  
  .custom-button:hover {
    background-color: #3d8c41;
  }
  
  .review-bar{
    display: flex;
    flex-direction: column;
  }


  .review-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .review-item {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .review-header {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .review-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .review-name {
    font-size: 18px;
    margin: 0;
  }
  .review-comment {
    font-size: 16px;
  }
  .delete-review {
    align-self: flex-end;
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }